@import 'base-styles.css';

body {
    grid-template-areas: "header header header header" "main main . ." "footer footer footer footer";
    grid-template-rows: 75px 1fr 75px;
}


article {
    margin: 40px;
}

.profile-picture {
    width: 50px;
}

#social-media {
    color: white;
}