@import 'base-styles.css';

:root {
    --primary-color: #111;
    --secondary-color: rgb(43, 42, 51);
    --tertiary-color: #eee;
}

body {
    margin: 0;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

h2 {
    margin: 0 0 5px;
}


body {
    grid-template-areas: "header header header header" "main main main main" "subscribe subscribe subscribe subscribe" "footer footer footer footer";
    grid-template-rows: 75px 3fr 2fr 75px;
}