header {
    grid-area: header;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

ul a li {
    padding: 30px;
}

/* Provides flexbox functionality for nav and footer lists */
.flow-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    height: 100%;
    width: 25%;
    align-content: center;
}

a {
    height: 100%;
}

nav, ul {
    height: 100%;
}

.navbar-item:hover {
    background-color: var(--secondary-color);
}

#current {
    background-color: var(--secondary-color);
}

nav li a {
    color: var(--tertiary-color);
}

a {
    text-decoration: none;
}
