header {
    grid-area: header;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

ul a li {
    padding: 30px;
}

/* Provides flexbox functionality for nav and footer lists */
.flow-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
    margin: 0;
    align-items: center;
}

li {
    display: inline;
    justify-content: center;
}

nav li:hover {
    background-color: var(--secondary-color);
}

a > li {
    color: var(--tertiary-color);
}

a {
    text-decoration: none;
}
